@use '../abstracts' as *;
::-moz-selection {
	/* Code for Firefox */
	color: var(--clr-neutral-1000);
	background: var(--clr-primary-100);
}

::selection {
	color: var(--clr-neutral-1000);
	background: var(--clr-primary-100);
}

.delimit-line {
	border-bottom: solid 0.09rem var(--clr-neutral-700);
}
