@use '../abstracts' as *;

body {
}

::-moz-selection {
	/* Code for Firefox */
	color: var(--clr-neutral-1000);
	background: var(--clr-primary-100);
}

::selection {
	color: var(--clr-neutral-1000);
	background: var(--clr-primary-100);
}
