$colors: (
	primary: (
		100: hsl(237, 100%, 15%),
		200: hsl(237, 95%, 23%),
		300: hsl(237, 100%, 30%),
		500: hsl(237, 100%, 50%),
	),
	secondary: (
		100: hsl(236, 76%, 70%),
		150: hsl(236, 77%, 65%),
		200: hsl(236, 77%, 60%),
		300: hsl(236, 77%, 90%),
	),
	neutral: (
		1000: hsl(0, 0%, 100%),
		970: hsl(0, 0%, 97%),
		950: hsl(0, 0%, 95%),
		920: hsl(0, 0%, 92%),
		900: hsl(0, 0%, 90%),
		870: hsl(0, 0%, 87%),
		800: hsl(0, 0%, 80%),
		600: hsl(0, 0%, 60%),
		400: hsl(0, 0%, 40%),
		200: hsl(0, 0%, 20%),
		0: hsl(0, 0%, 0%),
	),
	warning: (
		positive: rgb(30, 220, 169),
		negative: hsl(341, 100%, 50%),
	),
	cryptos: (
		bitcoin: (
			100: hsl(35, 98%, 51%),
			200: hsl(34, 100%, 90%),
		),
		etherum: (
			100: hsl(240, 1%, 24%),
			200: hsl(0, 0%, 94%),
		),
		rsv: (
			100: hsl(0, 0%, 0%),
			200: hsl(0, 0%, 80%),
		),
		rsr: (
			100: hsl(0, 0%, 0%),
			200: hsl(0, 0%, 80%),
		),
		usdc: (
			100: hsl(211, 68%, 47%),
			200: hsl(240, 6%, 85%),
		),
	),
);
