@use '../abstracts' as *;
.container {
	@include container;
}

//This class sets 100% width, overriding the body container
.full-width {
	position: absolute;
	width: 100%;
	left: 0;
}

.view-100-spacer {
	margin-bottom: 5em;
	min-height: 100vh;
	@include mq("small-medium") {
		margin-bottom: 8em;
	}
}

.view-100 {
	min-height: 100vh;
	@include mq("small-medium") {
		margin-bottom: 8em;
	}
}

.view-75 {
	min-height: 75vh;
	@include mq("small-medium") {
		margin-bottom: 3em;
	}
}
