@use '../abstracts' as *;
.container {
	@include container;
}

//This class sets 100% width, overriding the body container
.full-width {
	position: absolute;
	width: 100%;
	left: 0;
}

.full-view {
	min-height: 100vh;
	margin-bottom: 12rem;
	@include mq("small-medium") {
		margin-bottom: 20rem;
	}
}
