@use '../abstracts' as *;
.card {
	position: relative;

	img {
		height: 3rem;
		width: 3rem;
	}

	h4 {
		margin-bottom: 0.3rem;
		color: var(--clr-neutral-0);
	}

	&__img-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

#card-1 {
	display: grid;
	grid-template-columns: auto auto;
	place-items: center;
	margin-bottom: 4rem;
	@include mq("medium-large") {
		width: 75%;
	}
	@include mq("small") {
		grid-template-columns: auto;
		text-align: center;
	}
	.card__img-container {
		margin-right: 2rem;
		@include mq("small") {
			margin-bottom: 1rem;
			margin-right: 0em;
		}
		@include icon-bg(var(--clr-neutral-920));
	}
}

#card-2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex: 0 0 18rem;
	margin: 0 2em 5em;
	padding: 3rem 1rem;
	border-radius: 0.9rem;
	background-color: var(--clr-neutral-970);
	@include box-shadow;
	.card__text {
		width: 80%;
		margin-top: 1rem;
	}

	.card__img-container {
		position: absolute;
		top: -2.5rem;
		@include icon-bg(var(--clr-secondary-300));
	}
}
