@use '../../abstracts' as *;

.desktop-nav {
	//Display only on desktop and large devices
	@include mq("small-medium") {
		display: none;
	}
}

.nav-container {
	position: relative;
}

.nav {
	position: absolute;
	margin-top: 1rem;
	font-size: var(--fs-450);
	width: 100%;

	&__logo {
		height: 2.5rem;
	}

	ul {
		& > * {
			margin: 0em 1em;
			cursor: default;
		}
	}

	&__links {
		@include pseudo($loc: "after") {
			height: 0.1rem;
			width: 0%;
			background-color: var(--clr-neutral-1000);
			@include transition;
		}

		&:hover::after {
			width: 100%;
			@include transition;
		}
	}
}
