@use '../abstracts' as *;

:root {
	--layout-margin: 5em;
	@include mq("medium") {
		--layout-margin: 2em;
	}

	@each $shade, $colors in $colors {
		@each $prop, $value in $colors {
			@if type-of($value) == map {
				@each $second-prop, $final-value in $value {
					--clr-#{$shade}-#{$prop}-#{$second-prop}: #{$final-value};
				}
			} @else {
				--clr-#{$shade}-#{$prop}: #{$value};
			}
		}
	}

	@each $screen-size, $props in $type-scale {
		@if ($screen-size) == "medium" {
			@each $size, $value in $props {
				@include mq("medium") {
					--fs-#{$size}: #{$value};
				}
			}
		}
		@if ($screen-size) == small {
			@each $size, $value in $props {
				@include mq("small") {
					--fs-#{$size}: #{$value};
				}
			}
		} @else {
			@each $size, $value in $props {
				--fs-#{$size}: #{$value};
			}
		}
	}
}
