@use '../abstracts' as *;
body {
	font-family: "Lato", sans-serif;
	font-size: var(--fs-400);
	color: var(--clr-primary-100);
}

h1,
h2,
h3,
h4,
h5,
p {
	font-weight: 500;
}

h1 {
	letter-spacing: -1px;
	font-size: var(--fs-850);
	line-height: 1.3;
	font-weight: 500;
}

h2 {
	font-size: var(--fs-750);
}

h3 {
	font-size: var(--fs-600);
}

h4 {
	font-size: var(--fs-550);
	font-weight: 700;
}

h5 {
	font-size: var(--fs-500);
}

p {
	font-size: var(--fs-460);
	line-height: 150%;
	font-weight: 500;
	color: var(--clr-neutral-400);
}

.section-title {
	margin-bottom: 8rem;
	@include mq("small-medium") {
		margin-bottom: 5rem;
	}
}

.title {
	text-align: center;
	font-weight: 500;
	color: var(--clr-primary-200);
	margin-bottom: 0.1em;
}

.snippet {
	font-size: var(--fs-480);
	font-weight: 500;
	color: var(--clr-secondary-100);
	text-align: center;
	@include mq("medium") {
		font-size: var(--fs-450);
	}
}

a {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: none;
	}
}
